extends baseEmail

block content
  p(style='font-size: 16px; color: #333;') Hi #{firstName},
  p(style='font-size: 16px; color: #333;') Trouble signing in?
  p(style='font-size: 16px; color: #333;') Just press the button below and follow the instructions. We’ll have you up and running in no time.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0', style='margin-top: 20px;')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank', style='color: #fff; text-decoration: none; background-color: #007bff; padding: 10px 20px; border-radius: 5px;') Reset your password
  p(style='font-size: 16px; color: #333;') If you did not make this request then please ignore this email.
